.section-background {
    background-color: #f6f6f6;
    margin: 48px auto;
}
.section-cont{
    padding: 80px 0;
}
h1 {
    
    position: relative;
}
h1::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 47%;
    
    width: 64px;
    height: 4px;
    background-color: black;
    margin: 40px 0;
}

