<header class="container-xxxl">
  <div class="row overflow-hidden">
    <div
      class="position-relative d-flex align-items-center justify-content-center"
    >
      <img
        class="img-fluid w-100"
        src="https://images.unsplash.com/photo-1518756579831-36b7961c9d00?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="leafs"
      />
      <nav class="navbar navbar-expand-lg fixed-top position-absolute top-0 mt-4 nav-bar ">
        <div class="container-fluid">
            <a class="navbar-brand fs-1" href="#">LO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">LO</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 align-items-baseline gap-3">
                        <li class="nav-item">
                            <a class="nav-link active text-uppercase p-1" aria-current="page" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase p-1" href="#">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="#"><button class="btn btn-outline-dark p-1">Subscribe</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

      <div
        class="position-absolute top-50 start-50 translate-middle text-center"
      >
        <h1 class="text-uppercase">lombok</h1>
        <h3 class="text-uppercase">Holistic health</h3>
      </div>
    </div>
  </div>
 
</header>
