<div class="row row-cols-1 row-cols-md-2">
  <div class="col">
    <img
      class="img-fluid w-100"
      src="https://images.unsplash.com/photo-1518756579831-36b7961c9d00?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="leafs"
    />
  </div>
  <div class="col d-flex flex-column justify-content-center">
    <h3 class="text-uppercase text-center">About</h3>
    <p class="custom-paragraph">
      Since 1993 we have roamed is a blog from the earliest years. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
      nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat
    </p>
  </div>
</div>
